{% extends 'base.html' %}

{% load static %}

{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{realtor.name}}</h1>
              <span class="color-text-a">{{realtor.description}}</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'listings:index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'realtors:realtors' %}">Agents</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{realtor.name}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single -->

    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="agent-avatar-box">
                  <img src="{{realtor.photo.url}}" alt="" class="agent-avatar img-fluid">
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d">{{realtor.name}}
                      </h3>
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    <p class="content-d color-text-a">{{realtor.description}}</p>
                    <div class="info-agents color-a">
                      <p>
                        <strong>Phone: </strong>
                        <span class="color-text-a"> {{realtor.phone}} </span>
                      </p>
                      <p>
                        <strong>Email: </strong>
                        <span class="color-text-a"> {{realtor.email}} </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-t8">
            <div class="title-box-d">
              <h3 class="title-d">My Properties</h3>
            </div>
          </div>
          <div class="row property-grid grid">
            <div class="col-sm-12">
              <div class="grid-option">
              </div>
            </div>
            {% for listing in listings %}
            <div class="col-md-4">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{{listing.photo_main.url}}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                     <!-- <h2 class="card-title-a">
                        <a href="">{{listing.title}}
                          <br /> {{listing.address}}</a>
                      </h2> -->
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Buy | Rs {{listing.price}}</span>
                      </div>
                      <a href="{% url 'listings:listing' listing_id=listing.id %}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>{{listing.area_in_marla}} marlas</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>{{listing.bedrooms}} bedrooms</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>{{listing.bathrooms}} bathrooms</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Agent Single -->

  </main><!-- End #main -->

{% endblock %}
